/* 版心模块 */
.core {
    width: 1200px;
    margin: 0 auto;
}
.style_red {
    color: red;
}
/* 1.快捷导航栏 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fl ul li {
    float: left;
    /* background-color: tomato; */
    line-height: 31px;
}
.fr ul li {
    float: left;
    line-height: 31px;
}
.fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 10px 15px 0;
}
.arrow_icon::after {
    content: "🡻";
    margin-left: 5px;
}
.header {
    position: relative;
    height: 105px;
    /* background-color: hotpink; */
}
.logo {
    position: absolute;
    top: 25px;
    width: 175px;
    height: 56px;
    /* background-color: skyblue; */
}
.logo a {
    display: block;
    width: 175px;
    height: 56px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
}
.search {
    position: absolute;
    top: 25px;
    left: 348px;
    width: 541px;
    height: 36px;
    /* background-color: skyblue; */
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    width: 456px;
    height: 32px;
    border: 0;
    padding-left: 10px;
}
.search button {
    float: left;
    width: 81px;
    height: 32px;
    background-color: #b1191a;
    border: 0;
    color: snow;
    font-size: 16px;
}
.hotwords {
    position: absolute;
    left: 348px;
    top: 65px;
    height: 24px;
}
.hotwords a {
    margin: 0 10px;
}
.shopcar {
    position: absolute;
    top: 25px;
    left: 996px;
    width: 140px;
    height: 36px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    text-align: center;
    line-height: 36px;
}
.shopcar::before {
    content: "▩";
    color: #b1191a;
}
.shopcar::after {
    content: ">";
    margin-left: 15px;
}
.count {
    position: absolute;
    top: -5px;
    left: 101px;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    background-color: #e60012;
    color: snow;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.navbox {
    float: left;
    width: 209px;
    height: 45px;
    /* overflow: hidden; */
}
.nav .nav_down {
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}
.nav .nav_down ul li {
    height: 31px;
}
.nav .nav_down ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 31px;
    padding: 0 10px;
}
.nav .nav_down ul li::after {
    content: ">";
    color: #fff;
    line-height: 31px;
    font-size: 14px;
    float: right;
    margin-right: 10px;
}
.nav .nav_down ul li a:hover {
    background-color: #fff;
    color: red;
}

.nav .nav_left {
    width: 209px;
    height: 45px;
    background-color: #b1191a;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}
.nav .nav_right {
    /* float: left; */
    height: 45px;
    /* background-color: gray; */
}
.nav .nav_right ul li {
    float: left;
}
.nav .nav_right ul li a {
    display: block;
    height: 45px;
    padding: 0 25px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.footer {
    padding-top: 30px;
    height: 415px;
    background-color: #f5f5f5;
}
.mod_service {
    height: 81px;
    border-bottom: 1px solid #cccccc;
}
.mod_service ul li {
    float: left;
    width: 240px;
    height: 80px;
    padding-left: 20px;
}
.mod-service-icons {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat;
}
.icon-zheng {
    background-position: -253px -2px;
}
.icon-kuai {
    background-position: -255px -53px;
}
.icon-bao {
    background-position: -257px -105px;
}
.mod_service dl {
    margin: 5px 0 0 55px;
}
.mod_service dt {
    font-weight: 700;
}
.mod_help {
    padding: 10px 0;
    height: 201px;
    border-bottom: 1px solid #cccccc;
}
.mod_help li {
    float: left;
    width: 200px;
    padding: 0 50px;
}
.mod_help li dl dt {
    font-weight: 700;
    font-size: 18px;
}
.mod_help li dl dd img {
    padding: 7px 0;
}
.main {
    width: 981px;
    height: 455px;
    /* background-color: tomato; */
    margin-top: 10px;
    margin-left: 219px;
}
.focus {
    float: left;
    width: 722px;
    height: 455px;
}
.focus img {
    
    width: 721px;
    height: 455px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: skyblue; */
}
.news {
    width: 250px;
    height: 165px;
    border: 1px solid #ccc;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
}
.news_hd h5 {
    float: left;
    font-size: 14px;
}
.news_hd a {
    float: right;  
}
.news_hd a::after {
    content: ">";
    font-size: 16px;
}
.news_bd {
    padding: 0 20px;
}
.news_bd ul {
    margin-top: 10px;
}
.news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    height: 210px;
    border: 1px solid #ccc;
    border-top: 0;
}
.lifeservice ul li {
    float: left;
    position: relative;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.lifeservice ul li:nth-child(4n) {
    border-right: 0;
}
.lifeservice ul li i {
    display: inline-block;
    margin: 10px 0 0;
    width: 25px;
    height: 25px;
    /* border: 1px solid red; */
    background: url(../images/icons.png) no-repeat -17px -17px;
}
.bargain {
    width: 250px;
    height: auto;
    margin-top: 5px;
}